<%- include('../partials/nav.ejs') %>

<div class="new-page-container">
     <h1> Edit Movie</h1>

    <form action="/movies/<%= foundmovie._id %>?_method=PUT" method="POST"  enctype="multipart/form-data" class="add-movie-form">

        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= foundmovie.title %>">

        <label for="genre">Genre:</label>
        <input type="text" name="genre" value="<%= foundmovie.genre %>">

        <label for="releaseYear">Release Year:</label>
        <input type="Number" name="releaseYear" value="<%= foundmovie.releaseYear %>">


        <label for="image">Poster: </label>
        <img src="<%= foundmovie.image.url %>" width="200" alt="Current Poster">
        <input type="file"
        name="image"
        id="image"
        accept="image/jpeg,image/png,image/webp"
        value="<%= foundmovie.image %>">
        <button type="submit" class="btn btn-warning">Update</button>
</div>
    
</body>
</html>