<%- include('../partials/nav.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="movies-header">
       <% if (user){ %>
        <h1><%= user.username %>'s Dashboard</h1>
        <a href="/movies/new" class="btn btn-success btn-sm">Add Movie</a>
    <% }%>

    <% if (!user) { %>
        <h1> browse movies</h1>
    <% }%>
  
    </div>
   
    <div class="movie-grid">
         <% allMovies.forEach((item) => { %>
        <div class="movie-card">
            <a href="/movies/<%= item._id %>">
                <div class="poster-wrap">
                    <img src="<%= item.image.url%>" class="rounded">
                     <span class="poster-title"><%= item.title %></span>
                </div>
            </a>
            <div class="movie-info">
                <span><%= item.genre %></span>
                <span class="dot">•</span>
                <span><%= item.releaseYear %></span>
            </div>

        </div>
            
       

    <% }) %>
    </div>
   
</body>
</html>

