<%- include('../partials/nav.ejs') %>

    <img src="<%= foundmovie.image.url %>" width="200px">
    <h1><%= foundmovie.title %></h1>
    <p><%= foundmovie.genre %> - <%= foundmovie.releaseYear %></p>
    <p>added by: <%= foundmovie.owner.username %></p>

    <h3>Reviews</h3>
<% foundreview.forEach(review => { %>
    <div>
        <p><strong><%= review.user.username %></strong> — <%= review.rating %>/5</p>
        <p><%= review.text %></p>

        <% if (user && review.user._id.equals(user._id)) { %>
            <a href="/movies/<%= foundmovie._id %>/reviews/<%= review._id %>/edit">Edit Review</a>
            <form action="/movies/<%= foundmovie._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Review</button>
            </form>
        <% } %>
    </div>
<% }) %>

<a href="/movies">Back to All movies</a>

<% if (user && foundmovie.owner._id.equals(user._id)) { %>
    <a href="/movies/<%= foundmovie._id %>/edit">Edit this Movie</a>
    <form action="/movies/<%= foundmovie._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Movie</button>
    </form>
<% } %>

<% if (user) { %>
    <a href="/movies/<%= foundmovie._id %>/reviews/new">Write a Review</a>

    <form action="/watchlist/<%= foundmovie._id %>" method="POST">
        <button type="submit">Add to Watchlist</button>
    </form>

    <form action="/watched/<%= foundmovie._id %>" method="POST">
        <button type="submit">Mark as Watched</button>
    </form>

<% } %>
   

   
</body>
</html>