<%- include('../partials/nav.ejs') %>

<h1>What I've Seen</h1>

<ul>
    <% movies.forEach(item => { %>

        <li>
            <a href="/movies/<%= item._id %>">
                <img src="<%= item.image.url %>" width="100">
                <h3><%= item.title %></h3>
            </a>

            <form action="/watched/<%= item._id %>?_method=DELETE" method="POST">
            <button type="submit">Remove</button>
        </form>
        </li>

   <% }) %>
</ul>